/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
	font-family: "D";
	src: url("../fonts/Delicious Roman.otf") format("opentype");
}

@font-face {
	font-family: "D Italic";
	font-style: italic;
	src: url("../fonts/Delicious Italic.otf") format("opentype");
}

@font-face {
	font-family: "U Condensed";
	src: url("../fonts/UniversLTStd-Cn.otf") format("opentype");
}

@font-face {
	font-family: "U Ultra Condensed";
	src: url("../fonts/UniversLTStd-UltraCn.otf") format("opentype");
}

@font-face {
	font-family: "U Light";
	src: url("../fonts/UniversLTStd-Light.otf") format("opentype");
}

@font-face {
	font-family: "U";
	font-weight: normal;
	src: url("../fonts/UniversLTStd.otf") format("opentype");
}

@font-face {
	font-family: "U";
	font-weight: bold;
	src: url("../fonts/UniversLTStd-Bold.otf") format("opentype");
}

@font-face {
	font-family: "U";
	font-weight: 900;
	src: url("../fonts/UniversLTStd-Black.otf") format("opentype");
}

@font-face {
	font-family: "U Light Condensed";
	src: url("../fonts/UniversLTStd-LightCn.otf") format("opentype");
}