body {
	background: white url(../img/bg_gradient.png) repeat-x;
	overflow-x: hidden;
	/*overflow: hidden;*/
	/*width: 100%;*/
}

a {
	text-decoration: none;
	color: black;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	"Big" - content div
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.big {
	margin: 15px 0 0 145px;
	padding: 0em 2em;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	Badge
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

header {
	background: url(../img/badge_bg_bottom.png) no-repeat bottom;
	padding-bottom: 16px;
	left: 13px;
	position: absolute;
	z-index: 8;
	width: 133px;
	top: 0;
}

header div {
	background: #c8cacf url(../img/badge_bg_repeat.png) repeat-y;
}

header a#badge-title {
	background: url(../img/badge_title.png) no-repeat 50% 18px;
	display: block;
	height: 93px;
	margin: 0 auto;
	width: 115px;
	padding: 18px 0 15px;
	border-bottom: 1px solid #e4e5e7;
}

header h1 {
	display: none;
}

header a {
	display: block;
}

header nav ul {
	padding: 14px 5px 21px;
	font: 8px/16px "Gros Extended";
	list-style: none;
}

header nav a, header nav a:visited {
	text-decoration: none;
	padding: 0 12px;
	border-width: 1px 0;
	border-style: solid;
	border-color: transparent;
	color: white;
}

header nav a:hover {
	background: #ed1c24;
	border-color: #9e0b0f;
	color: white;
}