body {
	background: white url(../img/bg_gradient.png) repeat-x;
	/*overflow-x: hidden;*/
	/*overflow: hidden;*/
	/*width: 100%;*/
	min-width: 790px;
}

a {
	text-decoration: none;
	color: #003663;
}

h2 {
	position: absolute;
	top: 0;
	margin: 15px 290px 0 145px;
	padding-left: 28px;
	min-width: 312px;
	height: 24px;
	font: 21px "Univers Light" /*"Museo Slab", "Trebuchet MS", Helvetica, Arial*/;
}

.big {
	clear: left;
	margin: 54px 0 0 145px;
	padding: 0 28px;
}

/*h2 a {
	color: #003663;
}*/

h2 a:before {
	content: '‹ ';
	
}

.ellipses {
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	Badge
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

header {
	background: url(../img/badge_bg_bottom.png) no-repeat bottom;
	padding-bottom: 16px;
	left: 13px;
	position: absolute;
	z-index: 8;
	width: 133px;
	top: 0;
}

header div {
	background: #c8cacf url(../img/badge_bg_repeat.png) repeat-y;
}

header #badge-title {
	background: url(../img/badge_title.png) no-repeat;
	background-position: 50% 18px;
	display: block;
	height: 93px;
	margin: 0 auto;
	width: 115px;
	padding: 18px 0 0;
	/*order-bottom: 1px solid #e4e5e7;*/
}

header #badge-title:hover {
	opacity: 0.9;
}

header #badge-title:active {
	opacity: 1;
}

header h1 {
	display: none;
}

header a {
	display: block;
}

header nav ul {
	padding: 0 5px 14px;
	/*font: 8px/16px "Gros Extended";*/
	font: 13px/21px "Univers Light";
	list-style: none;
}

header nav a {
	background-repeat: no-repeat;
	background-position: 8px 6px;
	padding-left: 23px;
	color: white;
	border-style: solid;
}

header nav a, header nav a:visited {
	text-decoration: none;
	border-width: 1px 0;
	border-color: transparent;
}

header nav a:hover {
	background-color: #ed1c24;
	border-color: #9e0b0f;
}

header nav a.active {
	font-family: "Univers";
}

header hr {
	height: 1px;
	border: none;
	color: white;
	background-color: white;
	opacity: .5;
	margin: 14px 6px;
}

header #upload {
	background-image: url('../img/badge_icon-upload.png');
}

header #all-galleries {
	background-image: url('../img/badge_icon-all_galleries.png');
}

header #this-gallery {
	background-image: url('../img/badge_icon-this_gallery.png');
}

header #edit-metadata {
	background-image: url('../img/badge_icon-edit_metadata.png');
}

header #original-size {
	background-image: url('../img/badge_icon-original_size.png');
}

header #set-key-photo {
	background-image: url('../img/badge_icon-key_photo.png');
}

header #permalink {
	background-image: url('../img/badge_icon-permalink.png');
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	Search box
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#searchbox {
	position: absolute;
	top: 11px;
	right: 17px;
	/*padding-right: 17px;*/
	/*left: 0;*/
	/*text-align: right;*/
	/*min-width: 770px;*/
	height: 30px;
	
	background: url("../img/search_bg_right.png") no-repeat right;
	padding-right: 5px;
}

#searchbox div {
	background: url("../img/search_bg_left.png") no-repeat;
	padding: 4px 0 4px 4px;
	height: 22px;
}

#searchbox #q {
	width: 14em;
	height: inherit;
	border: none;
	padding: 0 6px;
	background: url('../img/search_divider.png') no-repeat right center;
}

#searchbox #q.empty {
	font-style: italic;
	color: #8c8c8c;
}

#searchbox input[type=submit] {
	width: 26px;
	height: 22px;
	background: url('../img/search_button.png') no-repeat 5px 3px;
	text-indent: -9999px;
	border: none;
	cursor: pointer;
}

#searchbox input[type=submit]:active {
	background-position: 5px 4px;
}
