a.gallery_link {
	display: block;
}

.polaroid {
	width: 157px;
	height: 168px;
	padding: 1px 4px 6px;
	margin: 0 5px 17px;
	float: left;
	background: url(../img/polaroid_bg.png) no-repeat;
	position: relative;
	overflow: hidden;
}

.polaroid:hover {
	overflow: visible;
}

.polaroid .poster_photo {
	display: table;
	height: 108px;
	width: 100%;
	margin-top: 5px;
}

.polaroid .poster_photo div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.polaroid img {
	border: none;
	display: table-cell;
	line-height: 0;
	margin: 0 auto;
}

.polaroid .expand {
	position: relative;
	top: 8px;
	background-color: white;
	background-color: rgba(255, 255, 255, .9);
	margin: 0 10px 0;
}

.polaroid .expand h3, .polaroid .expand .date {
	margin: 0;
	overflow: hidden;
}

.polaroid:hover .expand {
	width: 312px;
	overflow: visible;
	z-index: 2;
}

.polaroid h3 {
	font: 16px "Museo Slab", "Trebuchet MS", Helvetica, Arial;
	max-height: 19px;
}

.polaroid .date {
	font: 12px "Delicious", "Trebuchet MS", Helvetica, Arial;
	color: #535353;
}

.pagination {
	clear: both;
}