body {
	margin-bottom: 2em;
}

a.gallery_link {
	display: block;
	color: black;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	Polaroids
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


.polaroid {
	width: 157px;
	height: 168px;
	padding: 1px 4px 6px;
	margin: 0 5px 17px;
	float: left;
	background: url(../img/polaroid_bg.png) no-repeat;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.polaroid .poster_photo {
	display: table;
	height: 108px;
	width: 100%;
	margin-top: 5px;
}

.polaroid .poster_photo div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.polaroid img {
	border: none;
	display: table-cell;
	line-height: 0;
	margin: 0 auto;
}

.polaroid h3, .polaroid .date {
	margin: 0 10px;
	position: relative;
	top: 8px;
}

.polaroid h3 {
	font: 16px "Univers Condensed";
	max-height: 19px;
}

.polaroid .date {
	top: 10px;
	font: 13px "Delicious", "Trebuchet MS", Helvetica, Arial;
	color: #535353;
}

/*.polaroid:hover {
	margin-top: -1px;
	padding-bottom: 7px;
}*/

a:hover .polaroid h3, a:hover .polaroid .date {
	/*color: #004a80 !important;*/
	color: #9e0b0f !important;
}

a:visited .polaroid h3, a:visited .polaroid .date {
	color: #662d91;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	Pagination
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


.pagination-container {
	padding-top: 30px;
	text-align: center;
	clear: both;
}

.pagination {
	font: 14px "Univers";
	display: inline-block;
}

.pagination strong {
	font-weight: 900;
}

.pagination a {
	color: #004a80;
}

.pagination strong, .pagination a {
	min-width: 13px;
	float: left;
	text-align: center;
	padding: 3px 8px;
	border-right: 1px solid hsl(0, 0%, 67%);
}

.pagination :last-child {
	border-right: none;
}

.pagination a:visited {
	color: #662d91;
}

.pagination a:hover {
	background-color: hsl(0, 0%, 90%);
}

.pagination em {
	font-weight: 900;
	font-size: 17px;
	line-height: 1px;
	font-style: normal;
}