/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	Big
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.big{
	margin: 15px 0 0;
	position: absolute;
	right: 50%;
	z-index: 7;
	padding: 0 0 117px;
}

.big div {
	margin-left: 145px;
	position: relative;
	right: -50%;
	text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	Selected Photo
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#selectedPhoto {
	border: 1px solid white;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	Metadata
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#metadata {
	height: 56px;
	position: relative;
	min-width: 585px;
	text-align: left;
}

#metadata label span {
	display: none;
}

#metadata input[type='text'] {
	font: 12px "Delicious";
	position: absolute;
	border: none;
	background: transparent;
}

#metadata input#description {
	font: 20px "Museo Slab", "Trebuchet MS", Helvetica, Arial;
	top: 12px;
}

#metadata input#people {
	font-size: 14px;
	left: 5px;
	top: 38px;
}

#metadata input#datetime {
	right: 0;
	top: 12px;
}

#metadata input#location {
	right: 5px;
	top: 26px;
}

#metadata input#photographer {
	right: 10px;
	top: 40px;
}

#metadata input#description, #metadata input#people {
	width: 73%;
}

#metadata input#datetime, #metadata input#location, #metadata input#photographer {
	text-align: right;
	width: 25%;
}

#metadata input[type='submit'] {
	position: absolute;
	right: 15px;
	top: 54px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	Thumbnails
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#thumbs {
	background: #f7f8fa;
	border-top: 1px solid #d5dbe3;
	bottom: 0;
	clear: both;
	height: 52px;
	left: 0;
	overflow: scroll;
	overflow-y: hidden;
	padding: 11px 46px 25px;
	position: fixed;
	right: 0;
	white-space: nowrap;
	z-index: 9;
}

#thumbs span {
	display: inline-block;
	min-width: 75px;
	text-align: center;
}

#thumbs a {
	border: 1px solid transparent;
	line-height: 0;
	display: inline-block;
	vertical-align: middle;
}

#thumbs a.active {
	border: 1px solid #9e0b0f;
}

#thumbs img {
	border: 1px solid transparent;
}

#thumbs a.active img {
	border: 1px solid white;
}