/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	Big
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.big{
	margin-top: 15px;
	position: absolute;
	right: 50%;
	z-index: 7;
	padding-bottom: 117px;
}

.big div {
	margin-left: 145px;
	position: relative;
	right: -50%;
	text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	Selected Photo
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#selectedPhoto {
	border: 2px solid white;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	Metadata
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#metadata {
	height: 56px;
	position: relative;
	min-width: 585px;
	text-align: left;
}

#metadata label span {
	display: none;
}

#metadata input[type='text'] {
	border: none;
	font: 12px "Delicious";
	position: absolute;
	background: transparent;
	padding: 0 2px;
	/*border-bottom: 1px dotted transparent;*/
}

#metadata input[type='text']:hover {
	border-color: #9e0b0f;
}

#metadata input[name='description'] {
	font-size: 20px;
	top: 12px;
}

#metadata input[name='people'] {
	font-size: 14px;
	left: 5px;
	top: 38px;
}

#metadata input[name='datetime'] {
	right: 0;
	top: 12px;
}

#metadata input[name='location'] {
	right: 5px;
	top: 26px;
}

#metadata input[name='photographer'] {
	right: 10px;
	top: 40px;
}

#metadata input[name='description'], #metadata input[name='people'] {
	width: 73%;
	border-left: 1px dotted transparent;
}

#metadata input[name='datetime'], #metadata input[name='location'], #metadata input[name='photographer'] {
	text-align: right;
	width: 25%;
	border-right: 1px dotted transparent;
}

#metadata input[type='submit'] {
	position: absolute;
	right: 15px;
	top: 54px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	Thumbnails
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#thumbs {
	background: #f7f8fa;
	border-top: 1px solid #d5dbe3;
	bottom: 0;
	clear: both;
	height: 52px;
	left: 0;
	overflow: scroll;
	overflow-y: hidden;
	padding: 11px 46px 25px;
	position: fixed;
	right: 0;
	white-space: nowrap;
	z-index: 9;
}

#thumbs span {
	display: inline-block;
	min-width: 75px;
	text-align: center;
}

#thumbs a {
	border: 1px solid transparent;
	line-height: 0;
	display: inline-block;
	vertical-align: middle;
}

#thumbs a.active {
	border: 1px solid #9e0b0f;
}

#thumbs img {
	border: 1px solid transparent;
}

#thumbs a.active img {
	border: 1px solid white;
}