body {
	overflow-x: hidden;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	Selected Photo
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#selectedPhoto {
	border: 1px solid white;
	display: block;
	margin: 0 auto;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	Metadata
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#metadata {
	height: 56px;
	position: relative;
	min-width: 585px;
	text-align: left;
}

#metadata label span {
	display: none;
}

#metadata input[type='text'] {
	font: 12px "Delicious", "D";
	position: absolute;
	border: none;
	background: transparent;
}

#metadata input#description {
	font-size: 20px;
	top: 12px;
}

#metadata input#people {
	font-size: 14px;
	left: 5px;
	top: 38px;
}

#metadata input#datetime {
	right: 0;
	top: 12px;
}

#metadata input#location {
	right: 5px;
	top: 26px;
}

#metadata input#photographer {
	right: 10px;
	top: 40px;
}

#metadata input#description, #metadata input#people {
	width: 73%;
}

#metadata input#datetime, #metadata input#location, #metadata input#photographer {
	text-align: right;
	width: 25%;
}

#metadata input[type='submit'] {
	position: absolute;
	right: 15px;
	top: 54px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	Thumbnails
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#thumbs {
	background: url('../img/thumbs_bg.png') repeat-x 0 6px;
	bottom: 0;
	clear: both;
	height: 52px;
	left: 0;
	overflow: scroll;
	overflow-y: hidden;
	padding: 17px 46px 25px;
	position: fixed;
	right: 0;
	white-space: nowrap;
	z-index: 9;
}

#thumbs span {
	display: inline-block;
	min-width: 75px;
	text-align: center;
	padding-top: 16px;
	margin-top: -16px;
}

#thumbs span.active {
	background: url('../img/thumbs_currentmarker.png') no-repeat top center;
}

#thumbs a {
	border: 1px solid transparent;
	line-height: 0;
	display: inline-block;
	vertical-align: middle;
}

#thumbs .active a {
	border: 1px solid #9e0b0f;
	opacity: 1 !important;
}

#thumbs img {
	border: 1px solid transparent;
}

#thumbs .active img {
	border: 1px solid white;
}

#thumbs a:visited, #thumbs .visited a {
	opacity: .67;
}