/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	Polaroids
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

a.gallery_link {
	display: inline-block;
	color: black;
}

.polaroid {
	width: 157px;
	height: 168px;
	padding: 1px 4px 6px;
	margin: 0 10px 17px 0;
	/*float: left;*/
	background: url(../img/polaroid_bg.png) no-repeat;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.polaroid .poster_photo {
	display: table;
	height: 108px;
	width: 100%;
	margin-top: 5px;
}

.polaroid .poster_photo div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.polaroid img {
	border: none;
	display: table-cell;
	line-height: 0;
	margin: 0 auto;
}

.polaroid h4, .polaroid .date {
	margin: 0 10px;
	position: relative;
	top: 8px;
}

.polaroid h4 {
	font: 16px "Univers LT Std 57 Cn", "U Condensed";
	max-height: 19px;
}

.polaroid .date {
	top: 10px;
	font: 13px "Delicious", "D";
	color: #535353;
}

/*.polaroid:hover {
	margin-top: -1px;
	padding-bottom: 7px;
}*/

a:hover .polaroid h4, a:hover .polaroid .date {
	/*color: #004a80 !important;*/
	color: #9e0b0f !important;
}

a:visited .polaroid h4, a:visited .polaroid .date {
	color: #662d91;
}