#upload #totals {
	font-style: italic;
	color: #818181;
	font-size: 12px;
	float: left;
	margin-top: 7px;
}

#upload #addButton {
	font-size: 12px;
	float: right;
	margin-top: 7px;
}

#upload #filelist {
	margin: 27px 2px 0;
	/*margin-top: 27px;
	margin-left: 2px;*/
	font: 15px/22px "Delicious", "D";
	max-height: 208px;
	overflow-y: auto;
}

#upload #filelist .remove {
	float: right;
	margin-right: 1px;
	line-height: 21px;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	Progress bar
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#upload .progress {
	width: 80px;
	height: 1px;
	background-color: #bebebe;
	position: relative;
	float: right;
	margin-top: 11px;
}

#upload .progress div {
	background-color: #9e0b0f;
	height: 5px;
	position: relative;
	top: -2px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	Status area
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#upload .status {
	margin-top: 3px;
	padding-top: 13px;
	border-top: 1px solid #bebebe;
	text-align: right;
	height: 40px;
}

#upload #submit {
	background: url('../img/upload_submit.png') no-repeat 0 0;
	width: 157px;
	height: 40px;
	text-indent: -9999px;
	border: none;
	cursor: pointer;
	margin-top: 3px;
	margin-right: -2px;
}

#upload #submit:hover {
	background-image: url('../img/upload_submit_anim.png');
}

#upload #submit:active {
	background-image: url('../img/upload_submit_clicked.png');
	background-position: 0 1px;
}

#upload #piechart {
	display: block;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	width: 40px;
	height: 40px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *\
*
*	Layout
*
\* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#upload .leftcolumn, #upload .rightcolumn {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 50%;
	padding: 0 3px;
}

#upload .leftcolumn {
	float: left;
	padding-right: 11px;
	border-right: 1px solid #acacad;
}

#upload .rightcolumn {
	float: right;
	padding-left: 11px;
}

#upload .rightcolumn label {
	margin-left: -8px;
	margin-right: -3px;
}

#upload .leftcolumn label {
	margin-left: -3px;
	margin-right: -8px;
}