Satisfy any
# Allow either AuthShadow...
AuthName "Techhouse Server Login"
AuthBasicProvider external
AuthExternal pwauth
AuthType Basic
AuthBasicAuthoritative off
require valid-user
# Or from Brown's IP space
Order Deny,Allow
Deny from all
Allow from 128.148.0.0/16
Allow from 138.16.0.0/16
# Or a time-limited guest pass to a specific gallery
Auth_PG_host localhost
Auth_PG_port 5432
Auth_PG_user photo
Auth_PG_database photo
Auth_PG_pwd O5uKwnJwRzthQPB8YmTE 
Auth_PG_pwd_table valid_guestpasses
Auth_PG_uid_field username
Auth_PG_pwd_field password
Auth_PG_encrypted On
Auth_PG_hash_type MD5
Auth_PG_authoritative off

<Files ".hgignore">
	Deny from all
</Files>

<Files "secure.php">
	Satisfy all
	Allow from all
</Files>

<Files "receivePhoto.php">
	Satisfy any
	Allow from all
</Files>

# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /photogallery/

# Protect application and system files from being viewed
RewriteRule ^(application|modules|system) - [F,L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT,L]
